.mt-30{
    margin-top: 30;
}
.mt-20{
    margin-top: 20;
}
.gap-45{
 display: flex;
 flex-direction: column;
 gap: 45px;
}
.gap-30{
    display: flex;
    flex-direction: column;
    gap: 30px;
   }
   .gap-14{
    display: flex;
    gap: 14px;

   }
.pb-40{
    padding-bottom: 40px;

   }
.gap-20{
    display: flex;
    flex-direction: column;
    gap: 20px;
   }
.mb-20{
    margin-bottom: 20px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-30{
    margin-bottom: 30px !important;
}
.mb-40{
    margin-bottom: 40px !important;
}
.mt-35{
margin-top: 35px;
}
.mt-40{
margin-top: 40px !important;
}
.mt-10{
    margin-top: 10;
}
.mt-11{
    margin-top: 11px;
}
.mb-44{
    margin-bottom: 44px !important;
}
.color-white{
    color: $heading-white;
}
.color-btn{
    color: $button-color;
}
.flex-15{
    display: flex;
    align-items: center;
    gap: 15px;
}
.text-center{
text-align: center;
}
.btn-color{
    color: $button-color;
}