// colors-------------------->
$heading-white: #FFFFFF;
$button-color:#45F882;
$color-yellow: #FFB321;
$primary-color: #333333; 
$sale-color: #A8ABA9;
$Discount-sale: #7B7B7B;
$section-primary: #0B0E13;
$section-secoundry: #000000;


// fonts-------------------->
$urbrains:  "Urbanist", serif;

// responsive-------------------->
$small-device: "only screen and (min-width: 320px) and (max-width: 447px)";
$mobile: "only screen and (min-width: 448px) and (max-width: 576px)";
$phone-tab: "only screen and (min-width: 577px) and (max-width: 768px)";
$tab-port: "(max-width:768px)";
$tab-between: "only screen and (min-width: 769px) and (max-width: 1024px)";
$tab-xl: "only screen and (min-width: 769px) and (max-width: 1200px)";
$tab-land: "(max-width:1023px)";
$pc-between: "only screen and (min-width: 1024px) and (max-width: 1200px)";
$pc-small: "(max-width:1200px)";
$pc-medium: "(min-width: 1024px) and (max-width: 1600px)";
$pc-xl: "(max-width: 1600px)"; 
// section gap 
