// header-------------------->
.header {
  

  width: 100%;
  z-index: 10;
  background-color: $section-secoundry;
  .header-list {
    @include flex($gap: 3.2rem);

    .list-item {
      @include flex($gap: 0.8rem);
      font-family: $urbrains;
    }
  }

  .list-text {
    color: $heading-white;
  }

  .nav-bg {
    background: rgba(37, 37, 37, 0.4);
    backdrop-filter: blur(2rem);
  }

  .nav-list {
    .header-sub-menu {
      .list-text {
        &::before {
          top: 2.2rem;
          height: 1px;
        }
      }
    }
  }
}

// header-top---------->
.header-top {
  background-color: $section-primary;
  padding: 1.2rem 0;

  .header-top-section {
    @include flex($justify: space-between);
  }

  .list-item {
    font-weight: 500;
    font-size: 1.6rem;
  }
  .price-box{

    .slectbox-body{
      visibility: hidden;
      background-color: $section-secoundry;
      top: 40px;
      transition: all 0.3s ease;
      opacity: 0;
      width: 100px;
      text-align: center;
      .country-options{
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      
      cursor: pointer;
      .list-text{
        font-size: 14px;
      }
    }
    &:hover{
      .slectbox-body{
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .btn {
    &:active {
      border-color: transparent;
    }
  }
}

// header-nav---------->
.header-nav {
  // border: 1px solid rgba($color: $color-white, $alpha: 0.1);
  padding: 1.7rem 0;
  border-bottom: 1px solid #FFFFFF1A;

  .header-nav-section {
    @include flex($justify: space-between);
  }

  .header-navigation {
    @include flex($gap: 14.4rem);
  }

  .header-search-input {
    border: 1px solid #ffffff1a;
    width: 462px;
    border-radius: 4px;
    position: relative;
    background-color: $section-primary;

    .header-search-box {
      width: 100% !important;
      padding-left: 22px;
      padding-top: 13px;
      padding-bottom: 13px;
      font-size: 14px;
      font-weight: 500;
    }

    .search-btn {
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      padding: 8px 27px;
      border: 1px solid $button-color;
      background-color: $button-color;
      border-radius: 4px;
      color: $section-secoundry;
      font-size: 16px;
      font-weight: 500;
      transition: all 0.3s linear;
      &:hover{
        background-color: $section-secoundry;
        border: 1px solid #F6F8FF;
        box-shadow: 7px 7px 20px 4px #0000000D;
        color: $heading-white;
      
    }
    }
  }
}

.header-nav-menu {
  .header-menu-box {
    @include flex($justify: space-between);
    padding-top: 13px;
    padding-bottom: 13px;

    .header-navigation {
      @include flex($justify: space-between, $gap:6.9rem,);
      
    }

    .header-btn {
      .header-menu-btn {
        padding: 11px 14px ;
        background-color: $button-color;
        color: $section-secoundry;
        font-weight: 600;
        font-size: 16px;
        border-radius: 6px;
        transition: all 0.3s linear;
         border-width: 1.5px, 1px, 1.5px, 1px;
         border-style: solid;
         border-color: $button-color;
        &:hover{
          background-color: $section-secoundry;
          border-width: 1.5px, 1px, 1.5px, 1px;
          border-style: solid;
          border-color: #F6F8FF;
          box-shadow: 7px 7px 20px 4px #0000000D;
          color: $heading-white;
        
      }
          
      }
    }
    .header-dropDown-menu{
       width: 270px;
        padding: 21px 20px;
        background-color: $section-primary;
        border-radius: 6px;
       
        
       
        .dropdwon-icon{
            gap: 16px;
            .dropDwon-cetagoris{
                font-size: 14px;
                font-weight: 400px;
                color: $heading-white;
                z-index: 23;
            }
        }
        #dropdownMenu{
       
          background-color: $section-secoundry;
          border-radius: 6px;
          top: 55px;
          left: 0;
          padding: 21px 20px;
          opacity: 0;
          transition: all 0.4s ease;
          z-index: 2;
          .drop-link{
            color: $heading-white;
            font-size: 14px;
            font-weight: 400px;
          }
        }

       
    }
    
  }
 
}

.sticky{
  transition: all 0.3s linear;
  margin-top: -150px;
}
// here design mobile menu 
// mobile-menu-------------------->
.mobile-menu {
  .fa-xmark{
    color: $button-color;
    font-size: 30px;
  }
  .mobile-header {

     
      background: $section-secoundry;
      backdrop-filter: blur(2rem);
      padding: 2rem;
      box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
      .mobile-header-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .mobile-header-togol{
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        .header-search-input {
          border: 1px solid #ffffff1a;
          max-width: 400px;
          border-radius: 4px;
          position: relative;
          background-color: $section-primary;
      
          .header-search-box {
            width: 100% !important;
            padding-left: 22px;
            padding-top: 19px;
            padding-bottom: 16px;
            font-size: 18px;
            font-weight: 500;
          }
      
          .search-btn {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            padding: 11px 28px;
            background-color: $button-color;
            border-radius: 4px;
            color: $section-secoundry;
            font-size: 16px;
            font-weight: 500;
            transition: all 0.3s linear;
            border: 1px solid $button-color;
            &:hover{
              background-color: $section-secoundry;
              border: 1px solid #F6F8FF;
              box-shadow: 7px 7px 20px 4px #0000000D;
              color: $heading-white;
            
          }
          }
        }
        .togol-btn{
          padding: 22px;
          border: 1px solid #ffffff1a;
          background-color: $section-primary;
          color: $button-color;
          border-radius: 4px;
        }
      }
  }
  .offcanvas-header {
      @include flex($justify: space-between);
      padding: 2rem;
      background-color: $section-secoundry;
     
  }
  .offcanvas {
    background-color: $section-secoundry;
      height: 100vh;
      .offcanvas-body {
          padding: 0;
      }

      .offcanvas-header {
          padding: 2rem;
      }
      .mobile-menu-section {
          margin-top: 3rem;
          @include flex($direction: column, $gap: 1rem);
          overflow-y: scroll;
          .title {
              color: $heading-white;
              font-weight: 600;
          }
          .header-list {
              width: 100%;
              flex-direction: column;
              gap: 0;
              // border-top: 1px solid rgba($theme-one, 0.18);
          }
          .nav-list {
              width: 100%;

              padding: 1.5rem 2rem;
              &:not(:last-child) {
                  // border-bottom: 1px solid rgba($theme-one, 0.18);
              }
              .list-item {
                  display: unset;
              }

              .d-menu {
                  position: relative;
                  box-shadow: none;
                  padding-left: 20px;
                  padding-top: 15px !important;
                  padding-top: 0px;
                  visibility: visible;
                  opacity: 1;
                  display: none;
                  transition: 0.5s ease-in 0s;

                  li {
                      padding: 1rem 0px;
                      // border-bottom: 1px solid $dark-white;
                      a {
                          // color: $heading-color;
                      }
                  }
              }

              &:hover {
                  .d-menu {
                      display: block;
                  }
              }
          }
      }

      .list-text {
          // color: $heading-color;
          &:before {
              // background-color: $theme-one;
              top: 2.5rem;
          }
          &:hover {
              // color: $theme-one;
          }
      }
  }
}