#about-us{
    margin-top: 60px ;
    margin-bottom: 60px;
    .about-us-hero{
        gap: 50px;
        .about-us-content{
            .line{
                margin-top: 30px;
                max-width: 521px;
            }
            .about-us-detailsbox{
                .about-us-subHeading{
                 color: $button-color;                 
                 font-size: 20px;
                 font-weight: 400;
                 line-height: 32px;
                 text-align: left;
                }
                .about-us-heading{
                    max-width: 501px;
                    color: $heading-white;  
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 34px;
                    text-align: left; 
                                    
                }
                .about-us-infobox{
                    gap: 35px;
                    margin-top: 14px;
                    max-width: 570px;
                    .about-us-info{
                        color: $heading-white;  
                       font-size: 16px;
                       font-weight: 400;
                       line-height: 26px;
                       text-align: left;
                    }
                }
            }
            .web-owner-box{
                margin-top: 8px;
               
               
                 
                    .owner-img{
                       
                       
                        aspect-ratio: 72px/72px;
                        object-fit: cover;
                    }
              
                .wowner-cdetails{
                    .owner-name{
                        color: $heading-white;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 32px;
                        text-align: left;

                    }
                    .owner-positon{
                        color: $heading-white;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 26px;
                        text-align: left;

                    }
                }
            }
        }
        .about-us-imgbox{
            max-width: 586px;
            .about-us-img{
                width: 100%;
                aspect-ratio: 586px/479px ;
            }
          
           
        }
    }
}
#about-counter{

    .counter-box{
        display: grid;
        grid-template-columns: repeat(4, minmax(174px, 1fr));
        grid-column-gap: 3rem;
        grid-row-gap: 3rem;
    }
    .single-counter{
        gap: 2.5rem;
        .counter-number{
            color: $heading-white;
            font-size: 40px;
            font-weight: 700;
            line-height: 35px;
            text-align: center;
            
        }
        .counter-name{
        color: $heading-white !important;
        font-size: 18px;
        font-weight: 400;
        line-height: 35px;
        text-align: center;

        }
    }
}
#beCame-seller{
    margin-top: 60px;
    .became-seller-box{
        background-image: url('../assets/img/logo/about-vendor-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        width: 100%;
        .vendor-box{
            max-width: 470px;
            padding: 61px 0 62px 50px;
            .vendor-invite{
                color: $heading-white;
                font-size: 42px;
                font-weight: 500;
                line-height: 56.8px;
                text-align: left;
            }
            .vendor-details{
                color: $heading-white;
                font-size: 20px;
                font-weight: 400;
                line-height: 32px;
                text-align: left;

            }
            .offerCard-btn{
                margin-top: 31px;
                padding: 18px 28px 19px 26px;
                background-color: #FFB321;
                color: $section-secoundry;
                font-size: 16px;
                font-weight: 400;
                line-height: 18.96px;
                text-align: left;
                border-radius: 5px;
                transition: all 0.3s linear;
               border: 1px solid transparent;
               &:hover{
                background-color: #f5a002;

               }
            }
        }
    }

}
#review{
    margin-top: 60px;
    margin-bottom: 60px;
    .review-cardbox{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, minmax(129px, 1fr));
        grid-column-gap: 3rem;
        grid-row-gap: 3rem;
     
     }
   
}
.review-head{
    .product-review-subheading{
        font-size: 18px;
        font-weight: 500;
        line-height: 21.6px;
        text-align: left;
        color: $button-color;

    }
    .pruduct-review-heading{
        font-size: 36px;
        font-weight: 500;
        line-height: 56.8px;
        letter-spacing: -0.02em;
        text-align: left;
        color: $heading-white;
    }
 }