// here start hero seciton design 
#hero {
   
 
    
   
    .hero-benner-box {
       
      .bg-img{
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -2 !important;
        object-fit: cover;
      }
    
   

    
         .hero-content-two{
            height: 100%;
            width: 100%;
            
           margin-right: auto;
           .hero-content{
                
            padding-top: 100px;
            padding-bottom: 101px;
            display: flex;
            flex-direction: column;
             width: 610px;
            .hero-subTitle{
                font-size: 24px;
                font-weight: 500;
                color: $heading-white;
                margin-bottom: 12px;
          
            }
            .hero-title{
                font-size: 54px;
                font-weight: 500;
                line-height: 64px;
                color: $heading-white;
            }
            .offerCard-btn {
                margin-top: 40px;
                padding: 15px 0px;
                max-width: 196px;
                border: 1px solid $button-color;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $button-color;
                color: $section-secoundry;
                gap: 9px;
                font-size: 16px;
                font-weight: 500;
                border-radius: 5px;
                transition: all 0.3s linear;
    
                span {
                     display: inline-flex; 
                     align-items: center; 
                     svg path { fill: #333333; 
                           transition: fill 0.3s ease;
                           } 
                        }
                    &:hover { 
                            background-color: $section-secoundry;
                            box-shadow: 7px 7px 20px 4px #0000000D;
                            color: $heading-white;
                            border: 1px solid $heading-white;
                            
                            span svg path { 
                                transition: all 0.3s linear;
                                fill: #FFFFFF; 
                         } 
                    }
            }
            
            
        }
         }
        .hero-content-box{
             height: 100%;
             width: 100%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
          margin-left: 19%;
            align-items: center;
            gap: 190px;
          
            .hero-content{
                
                margin-top: 100px;
                margin-bottom: 101px;
                display: flex;
                flex-direction: column;
                 width: 610px;
                .hero-subTitle{
                    font-size: 24px;
                    font-weight: 500;
                    color: $heading-white;
                    margin-bottom: 12px;
              
                }
                .hero-title{
                    font-size: 54px;
                    font-weight: 500;
                    line-height: 64px;
                    color: $heading-white;
                }
                .offerCard-btn {
                    margin-top: 40px;
                    padding: 15px 0px;
                    max-width: 196px;
                    border: 1px solid $button-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $button-color;
                    color: $section-secoundry;
                    gap: 9px;
                    font-size: 16px;
                    font-weight: 500;
                    border-radius: 5px;
                    transition: all 0.3s linear;
        
                    span {
                         display: inline-flex; 
                         align-items: center; 
                         svg path { fill: #333333; 
                               transition: fill 0.3s ease;
                               } 
                            }
                        &:hover { 
                                background-color: $section-secoundry;
                                box-shadow: 7px 7px 20px 4px #0000000D;
                                color: $heading-white;
                                border: 1px solid $heading-white;
                                
                                span svg path { 
                                    transition: all 0.3s linear;
                                    fill: #FFFFFF; 
                             } 
                        }
                }
                
                
            }
            .hero-img{
               bottom: 0;
               right: 0;
               margin-right: 17%;
                max-width: 429px;
                width: 100%;
                aspect-ratio: 429px/434px;
            }

        }
    }
    .swiper-pagination{
        .swiper-pagination-bullet{
            background: #FFFFFF !important;
            margin: 8px !important;
        }
        .swiper-pagination-bullet-active{
            background: #FFFFFF !important;
            outline: 1px solid #FFFFFF;
            outline-offset: 10px ;
        }
    }
}

#gift-section {

    background-color: $section-primary;
    

    .gift-card-box {
        padding-top: 6rem;
        padding-bottom: 6rem;
        display: grid;
        grid-template-columns: repeat(8, minmax(129px, 1fr));
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;

        .gift-card {
            padding: 28px 11px;
            border: 1px solid #FFFFFF1A;
            border-radius: 6px;
            background-color: $section-secoundry;
            transition: all 0.3s linear;

            .gift-card-img {}

            .gift-card-title {
                font-weight: 600;
                font-size: 18px;
                line-height: 30px;
                color: $heading-white;
            }

            &:hover {
                border: 1px solid #45F88280;
                box-shadow: 0px 5px 15px 0px #45F88280;

            }
        }
    }
}

// here atart offer card 

#offer-Card {
    background-color: $section-primary;
    margin-bottom: 70px
        /*unknow margin*/
    ;

    .offer-card-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        .offer-card-details {
            .offer-card-subtitle {
                font-size: 18px;
                font-weight: 500;
                color: $button-color;
            }

            .offer-card-title {
                font-size: 36px;
                font-weight: 500;
                line-height: 56px;
                color: $heading-white;
            }
        }

        .offerCard-btn {
            padding: 13px 24.4px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $button-color;
            color: $section-secoundry;
            gap: 9px;
            font-size: 16px;
            font-weight: 500;
            border-radius: 5px;
            border: 1px solid $button-color;
            transition: all 0.3s ease;
            &:hover {
                background-color: $section-secoundry;
                border: 1px solid #F6F8FF;
                box-shadow: 7px 7px 20px 4px #0000000D;
                color: $heading-white;

                span svg path { 
                    transition: all 0.3s linear;
                    fill: #FFFFFF; 
             } 
            }
        }
    }
    .mible-btn{
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    .mobile-btn{
        display: none !important;
        padding: 17px 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $button-color;
        color: $section-secoundry;
        gap: 9px;
        font-size: 16px;
        font-weight: 500;
        border-radius: 5px;
        transition: all 0.3s linear;

        &:hover {
            background-color: $section-secoundry;
            border: 1px solid #F6F8FF;
            box-shadow: 7px 7px 20px 4px #0000000D;
            color: $heading-white;

            span svg path { 
                fill: #FFFFFF; 
         } 
        }
    }
    .offer-card-wepper {
        display: grid;
        grid-template-columns: repeat(3, minmax(300px, 1fr));
        grid-column-gap: 3rem;
        grid-row-gap: 3rem;

    }
}

// here start games section
#games {
    margin-bottom: 48px;
    .offer-card-head {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 14px;
        margin-bottom: 30px;

        .offerCard-btn {
            padding: 15px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $section-secoundry;
            color: $heading-white;
            gap: 9px;
            line-height: 19.8px;
            border: 1px solid #F6F8FF;
            font-size: 16px;
            font-weight: 500;
            border-radius: 5px;
            transition: all 0.3s linear;

            &:hover {
                background-color: $button-color;
                box-shadow: 7px 7px 20px 4px #0000000D;
                color: $section-secoundry;
                border: 1px solid $button-color;
                
            }
        }
    }
    .Games-wepper{
        .game-wepperBox{

        }
    }
    .game-wepperBox{
        display: grid;
        grid-template-columns: repeat(2, minmax(420px, 1fr));
        grid-column-gap: 3rem;
        grid-row-gap: 3rem;
    }
    .games-card{
       
        padding: 12px;
        background-color: $section-secoundry;
        border: 1px solid #3C3E42;
        border-radius: 6px;
        gap: 1.6rem;
        .game-card-head{
            
            width: 160px;
            aspect-ratio: 160px/125px;

            .games-watch-icon{
                padding: 5px;
                top: 5px;
                left: 5px;
                border-radius: 50%;
                background-color: $heading-white;
                cursor: pointer;
              
            }
            .games-img{
                width: 100%;
                height: auto;
                object-fit: cover;
                border-radius: 6px;
            }
        }
        .game-car-body{
            max-width: 220px;
            width: 100%;
            .gameCard-btn-box{
               
            }
            
            .gameCard-price{
                gap: 0.4rem;
                color: $button-color;
                font-weight: 700;
                font-size: 20px;
                .games-delate-price{
                    font-size: 14px;
                    font-weight: 400;
                    color: #7B7B7B;
                }
            }
            .gameCard-ttile{
                color: $heading-white;
                font-size: 20px;
                font-weight: 600;

            }
           
            .gameCard-sles{
                font-size: 16px;
                font-weight: 500;
                color: #A8ABA9;
                padding: 8px 10px;
                background-color: #343434;
                border-radius: 4px;
            }
            .gamecard-rating{
                font-size: 16px;
                font-weight: 500;
                gap: 5px;
                color: $heading-white;
            }
        }
    }
    .Games-wepper{
    gap: 3rem;
    }
    .game-wepper-img{
   
        max-width: 269px;
        width: 100%;
      
        border-radius: 8px;
        
        background: #FFFFFF;
        box-shadow: 0px 6px 60px 5px #00000014;
        .game-bennerImg{
            padding: 11px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
            aspect-ratio: 258px/501px;
        
        }


    }
}

// here start the Latest Application section
#latestApp{
    background-color: $section-secoundry;
    padding-top: 60px;
    padding-bottom: 60px;
    .offer-card-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        .offer-card-details {
            .offer-card-subtitle {
                font-size: 18px;
                font-weight: 500;
                color: $button-color;
            }

            .offer-card-title {
                font-size: 36px;
                font-weight: 500;
                line-height: 56px;
                color: $heading-white;
            }
        }

        .offerCard-btn {
            padding: 13px 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $button-color;
            color: $section-secoundry;
            gap: 9px;
            font-size: 16px;
            font-weight: 500;
            border: 1px solid $button-color;
            border-radius: 5px;
            transition: all 0.3s linear;

            &:hover {
                background-color: $section-secoundry;
                border: 1px solid #F6F8FF;
                box-shadow: 7px 7px 20px 4px #0000000D;
                color: $heading-white;

                span svg path { 
                    transition: all 0.3s linear;
                    fill: #FFFFFF; 
             } 
            }
        }
    }
    .mible-btn{
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    .mobile-btn{
        display: none !important;
        padding: 17px 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $button-color;
        color: $section-secoundry;
        gap: 9px;
        font-size: 16px;
        font-weight: 500;
        border-radius: 5px;
        transition: all 0.3s linear;

        &:hover {
            background-color: $section-secoundry;
            border: 1px solid #F6F8FF;
            box-shadow: 7px 7px 20px 4px #0000000D;
            color: $heading-white;

            span svg path { 
                fill: #FFFFFF; 
         } 
        }
    }
    .lastetApp-card-box{
        .game-lasted-wepper{
           
            padding: 12px ;
          
        
        }
    }
    .games-card{
       
        padding: 12px;
        background-color: $section-primary;
        border: 1px solid #3C3E42;
        border-radius: 6px;
        gap: 1.6rem;
        .game-card-head{
            
           

            .games-watch-icon{
                padding: 5px;
                top: 5px;
                left: 5px;
                border-radius: 50%;
                background-color: $heading-white;
                cursor: pointer;
              
            }
            .games-img{
              
                height: auto;
                object-fit: cover;
                border-radius: 6px;
            }
        }
        .game-car-body{
            max-width: 220px;
            width: 100%;
            .gameCard-price{
                gap: 0.4rem;
                color: $button-color;
                font-weight: 700;
                font-size: 20px;
                .games-delate-price{
                    font-size: 14px;
                    font-weight: 400;
                    color: #7B7B7B;
                }
            }
            .gameCard-ttile{
                color: $heading-white;
                font-size: 20px;
                font-weight: 600;

            }
            .gameCard-btn-box{

            }
            .gameCard-sles{
                font-size: 16px;
                font-weight: 500;
                color: #A8ABA9;
                padding: 8px 10px;
                background-color: #343434;
                border-radius: 4px;
            }
            .gamecard-rating{
                font-size: 16px;
                font-weight: 500;
                gap: 5px;
                color: $heading-white;
            }
        }
    }

  .btn-pav{
    padding: 14px 11px;
    border-radius: 50%;
    background-color: $button-color !important;
    top: 50%;
    transform: translateY(-50%);
    left: -50px;
    z-index: 200;
    transition: all 0.3s linear;
    &:hover{
        background-color: #333333 !important;
        span svg path{
            transition: all 0.3s linear;
            stroke: white;
        }
    }
  }
   .btn-next{
    padding: 14px 11px;
    border-radius: 50%;
    background-color: $button-color !important;
    top: 50%;
    transform: translateY(-50%);
    right: -50px;
    z-index: 200;
    transition: all 0.3s linear;
    &:hover{
        background-color: #333333 !important;
        span svg path{
            transition: all 0.3s linear;
            stroke: white;
        }
    }
   }
   
   
}

// here start upcaming 

#UpCamingApp{
  
    padding-top: 60px;
    padding-bottom: 60px;
    .offer-card-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        .offer-card-details {
            .offer-card-subtitle {
                font-size: 18px;
                font-weight: 500;
                color: $button-color;
            }

            .offer-card-title {
                font-size: 36px;
                font-weight: 500;
                line-height: 56px;
                color: $heading-white;
            }
        }

        .offerCard-btn {
            padding: 13px 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $button-color;
            color: $section-secoundry;
            border: 1px solid $button-color;
            gap: 9px;
            font-size: 16px;
            font-weight: 500;
            border-radius: 5px;
            transition: all 0.3s ease;

            &:hover {
                background-color: $section-secoundry;
                border: 1px solid #F6F8FF;
                box-shadow: 7px 7px 20px 4px #0000000D;
                color: $heading-white;

                span svg path { 
                    transition: all 0.3s linear;
                    fill: #FFFFFF; 
             } 
            }
        }
    }
   

    .btn-pav1{
        padding: 14px 11px;
        border-radius: 50%;
        background-color: #333333 !important;
        top: 50%;
        transform: translateY(-50%);
        left: -50px;
        z-index: 200;
        transition: all 0.3s linear;
        span svg path{
            stroke: white;
        }
        &:hover{
            background-color:  $button-color !important;
            span svg path{
                transition: all 0.3s linear;
                stroke: #333333;
            }
        }
      }
       .btn-next1{
        padding: 14px 11px;
        border-radius: 50%;
        background-color: #333333 !important;
        top: 50%;
        transform: translateY(-50%);
        right: -50px;
        z-index: 200;
        transition: all 0.3s linear;
        span svg path{
            stroke: white;
        }
        &:hover{
            background-color:  $button-color !important;
            span svg path{
                transition: all 0.3s linear;
                stroke: #333333;
            }
        }
       }
   
}
 .mible-btn{
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    .mobile-btn{
        display: none !important;
        padding: 17px 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $button-color;
        color: $section-secoundry;
        gap: 9px;
        font-size: 16px;
        font-weight: 500;
        border-radius: 5px;
        transition: all 0.3s linear;

        &:hover {
            background-color: $section-secoundry;
            border: 1px solid #F6F8FF;
            box-shadow: 7px 7px 20px 4px #0000000D;
            color: $heading-white;

            span svg path { 
                fill: #FFFFFF; 
         } 
        }
    }
    .lastetApp-card-box{
        .game-lasted-wepper{
            // display: grid;
            // grid-template-columns: repeat(4, minmax(270px, 1fr));
            // grid-column-gap: 3rem;
            // grid-row-gap: 3rem;
            padding: 12px ;
          
        
        }
    }
    .games-card{
       
        padding: 12px;
        background-color: $section-secoundry;
        border: 1px solid #3C3E42;
        border-radius: 6px;
        gap: 1.6rem;
        .game-card-head{
            
           

            .games-watch-icon{
                padding: 5px;
                top: 5px;
                left: 5px;
                border-radius: 50%;
                background-color: $heading-white;
                cursor: pointer;
              
            }
            .games-img{
              
                height: auto;
                object-fit: cover;
                
            }
        }
        .game-car-body{
            max-width: 220px;
            width: 100%;
            .gameCard-price{
                gap: 0.4rem;
                color: $button-color;
                font-weight: 700;
                font-size: 20px;
                .games-delate-price{
                    font-size: 14px;
                    font-weight: 400;
                    color: #7B7B7B;
                }
            }
            .gameCard-ttile{
                color: $heading-white;
                font-size: 20px;
                font-weight: 600;

            }
            .gameCard-btn-box{

            }
            .gameCard-sles{
                font-size: 16px;
                font-weight: 500;
                color: #A8ABA9;
                padding: 8px 10px;
                background-color: #343434;
                border-radius: 4px;
            }
            .gamecard-rating{
                font-size: 16px;
                font-weight: 500;
                gap: 5px;
                color: $heading-white;
            }
        }
    }
// here counter section 
#counter{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $button-color;
    .counter-box{
        display: grid;
        grid-template-columns: repeat(4, minmax(174px, 1fr));
        grid-column-gap: 3rem;
        grid-row-gap: 3rem;
    }
    .single-counter{
        gap: 2.5rem;
        .counter-number{
            font-size: 65px;
            font-weight: 600;
            color: #121313;
        }
        .counter-name{
         font-size: 18px;
          font-weight: 400;
        }
    }
}

// here start the recommendtion section 
#recommendtion{
    margin-top: 60px;
    margin-bottom: 60px;
    .offer-card-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        .offer-card-details {
            .offer-card-subtitle {
                font-size: 18px;
                font-weight: 500;
                color: $button-color;
            }

            .offer-card-title {
                font-size: 36px;
                font-weight: 500;
                line-height: 56px;
                color: $heading-white;
            }
        }

        .offerCard-btn {
            padding: 14px 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $button-color;
            color: $section-secoundry;
            gap: 9px;
            font-size: 16px;
            font-weight: 500;
            border-radius: 5px;
            transition: all 0.3s linear;

            &:hover {
                background-color: $section-secoundry;
                border: 1px solid #F6F8FF;
                box-shadow: 7px 7px 20px 4px #0000000D;
                color: $heading-white;

                span svg path { 
                    transition: all 0.3s linear;
                    fill: #FFFFFF; 
             } 
            }
        }
    }
    .game-wepperBox{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
        grid-column-gap: 3rem;
        grid-row-gap: 3rem;
    }
    .games-card{
        padding: 12px;
        background-color: $section-secoundry;
        border-radius: 6px;
        gap: 1.6rem;
        .game-card-head{
            
            width: 160px !important;
            aspect-ratio: 160px/125.85px;

            .games-watch-icon{
                padding: 5px;
                top: 5px;
                left: 5px;
                border-radius: 50%;
                background-color: $heading-white;
                cursor: pointer;
              
            }
            .games-img{
                width: 100%;
                height: auto;
                object-fit: cover;
                border-radius: 6px;
            }
        }
        .game-car-body{
            max-width: 170px;
            width: 100%;
            .gameCard-price{
                gap: 0.4rem;
                color: $button-color;
                font-weight: 700;
                font-size: 20px;
                margin-bottom: 6px;
                .games-delate-price{
                    font-size: 14px;
                    font-weight: 400;
                    color: #7B7B7B;
                }
            }
            .gameCard-ttile{
                color: $heading-white;
                font-size: 20px;
                font-weight: 600;

            }
            .gameCard-btn-box{
                padding-top: 23px;

            }
            .gameCard-sles{
                font-size: 16px;
                font-weight: 500;
                color: #A8ABA9;
                padding: 8px 10px;
                background-color: #343434;
                border-radius: 4px;
            }
            .gamecard-rating{
                font-size: 16px;
                font-weight: 500;
                gap: 5px;
                color: $heading-white;
            }
        }
    }
    .mible-btn{
       
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    .mobile-btn{
        display: none !important;
        padding: 17px 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $button-color;
        color: $section-secoundry;
        gap: 9px;
        font-size: 16px;
        font-weight: 500;
        border-radius: 5px;
        transition: all 0.3s linear;

        &:hover {
            background-color: $section-secoundry;
            border: 1px solid #F6F8FF;
            box-shadow: 7px 7px 20px 4px #0000000D;
            color: $heading-white;

            span svg path { 
                fill: #FFFFFF; 
         } 
        }
    }
    
}

// here start the footer section 
#footer{
    padding-top: 77px;
    background-color: $section-secoundry;
    .Subscribe{
        justify-content: space-between;
        padding: 39px 38px 39px 40px;
        background-color: $section-primary;
        border: 1px solid #FFFFFF1A;
        border-radius: 8px;
        .Subscribe-title{
            font-size: 35px;
            font-weight: 700;
            color: $heading-white;
        }
        .subscrib-box{
            gap: 2rem;
            .subscribe-input{
                padding: 22px 25px;
                width: 300px;
               
                font-size: 16px;
                font-weight: 400;
                border-radius: 4px;
                color: #ABABAB;
                background-color: $section-secoundry;
            }
             .offerCard-btn {
                padding: 15px 38px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $button-color;
                color: $section-secoundry;
                gap: 9px;
                font-size: 16px;
                font-weight: 500;
                border-radius: 5px;
                border: 1px solid #121313;
                transition: all 0.3s linear;
    
                &:hover {
                    background-color: $section-secoundry;
                    border: 1px solid #F6F8FF;
                    box-shadow: 7px 7px 20px 4px #0000000D;
                    color: $heading-white;
                    span svg path { 
                        transition: all 0.3s linear;
                        fill: #FFFFFF; 
                 } 
                   
                }
            }
        }
       
    }
    .footer-box{
        padding-top: 39.98px;
        padding-bottom: 38px;
      
        gap: 128px;
        .footerbox-item{
            width: fit-content;
            .discover-info{
                max-width: 301px;
                margin-top: 26px;
                color: #E5E7EB;
                line-height: 24px;
            }
            

            .footer-items-title{
                font-size: 18px;
                font-weight: 600;
                line-height: 30px;
                color: #FFFFFF;
                margin-bottom: 0 !important;
                
            }
            .footer-menu{
                list-style: none;
                display: flex;
                flex-direction: column;
                margin-top: 26px;
                gap: 12px;
                .footer-menu-items{
                    overflow: hidden;
                    .menu-item-link{
                        font-size: 16px;
                        font-weight: 400;
                        text-decoration: none;
                        display: block;
                        color: #E5E7EB;
                        transition: all 0.3s linear ;
                    
                        
                    }
                }
            }
           
         
           
        }
        .footer-box-two{
            max-width: 160px;
            width: 100%;
        }
    }
    .footer-border{
        border-top: 1px solid #FFFFFF1A;
    }
      .footer-copyright-box{
       
        position: relative;
        padding-top: 23px;
        padding-bottom: 6px;
       
       
        .copy-right-title{
            color: #E5E7EB;
            font-size: 20px;
            font-weight: 400;
            .carHeadr{
                color: #FFFFFF;
                font-weight: 600;
            }
        }
        .footer-privacy {
            gap: 34px;
            .footer-privacy-items{
                
                .footer-privacy-link{
                    color: #E5E7EB;
                    transition: all 0.3s linear;
                
                    &:hover{
                    color: $button-color;
                    }
                }
                .line{  
                    width: 1px;
                    height: 12px;
                    background: #4D4D4D;   
                }
            }
        }
    }
}


// here design server erorr file and others
.server-maintenace{
    width: 100vw;
    height: 100vh;
}
.main-maintenacebox{
    max-width: 740px;
    height: auto;
    .maintenace-Img{
        width: 100%;
        aspect-ratio: 739px/415px;
        object-fit: cover;

    }
    .mianten-heading{
        font-size: 48px;
        font-weight: 500;
        line-height: 57.6px;
        text-align: center;
        color: $heading-white;
    }
}
// .server-errorbox{
//     width: 100vw;
//     height: 100vh;
// }
.server-error{
    max-width: 570px;
    height: auto;
    margin-top: 60px;
    margin-bottom: 60px ;
    .maintenace-Img{
        width: 100%;
        aspect-ratio: 570px/450px;
        object-fit: cover;

    }
    .mianten-heading{
        font-size: 48px;
        font-weight: 500;
        line-height: 57.6px;
        text-align: center;
        color: $heading-white;
    }

}